<!doctype html>
<title>Hello from Flask</title>
{% if person %}
  <h1>Hello {{ person }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

<div class="form_auth_block">
    <div class="form_auth_block_content">
      <p class="form_auth_block_head_text">Авторизация</p>
      <form class="form_auth_style" action="/login" method="post">
        <label>Введите Ваш имейл</label>
        <input type="text" name="auth_email" placeholder="Введите Ваш имейл" required >
        <label>Введите Ваш пароль</label>
        <input type="password" name="auth_pass" placeholder="Введите пароль" required >
        <button class="form_auth_button" type="submit">Войти</button>
      </form>
    </div>
  </div>